<!DOCTYPE html>
<html lang="en" ng-app="EMSApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employees Management System</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body ng-cloak ng-controller="EmployeeController as ctrl">
    <div class="container">
        <div><h2>Employee Management System -- <span my-current-time="ctrl.format"></span> </h2>
        </div>
        <div class="jumbotron">
                <form name="ctrl.searchForm" ng-submit="ctrl.searchEmployees()">
                    <div class="input-group">
                        <input type="text" name="keyword" id="keyword" class="form-control" ng-model="ctrl.searchKeyword" placeholder="e.g. Kenneth"/>
                        <span class="input-group-addon">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </span>
                        <div class="col-lg-6">
                            <select ng-model="ctrl.orderby" class="form-control">
                                <option value="" disabled selected>Sort by</option>
                                <option value="ASC">Ascending</option>
                                <option value="DESC">Descending</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <hr/>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" ng-click="ctrl.addEmployee('lg')" class="btn btn-primary">Add</button>
                    </div>
                </form>
        </div>
        
        <div class="list" ng-show="ctrl.employees">
            <div class="row" ng-show="ctrl.employees.length > 0">
                <div class="list header col-lg-12 col-md-12 col-sm-12">
                        <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" item-per-page="ctrl.itemsPerPage" class="pagination-sm" max-size="ctrl.maxsize"  boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 employee" ng-repeat="employee in ctrl.employees">
                    <h4><a href="#" class="thumbnail" ><img src="{{employee.photourl}}"/></a></h4>
                    <h4><label>First Name: </label> {{employee.first_name}}</h4>
                    <h4><label>Last Name: </label> {{employee.last_name}}</h4>
                    <h4><label>Gender: </label> {{employee.gender | customGender}}</h4>
                    <h4><label>Birth Date: </label> {{employee.birth_date | date:medium}}</h4>
                    <h4><label>Hire Date: </label> {{employee.hire_date | date:medium}}</h4>
                    <h4>
                        <button type="button" ng-click="ctrl.editEmployee(employee.emp_no, 'lg')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button type="button" ng-click="ctrl.deleteEmployee(employee.emp_no, 'lg')" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </h4>
                </div>
            </div>
        </div>
    </div>
        <div class="footer">
            <p>Created by: <b>Javier Teo</b></p>
            <p>Contact information: <a href="mailto:javiertjh@hotmail.com">javiertjh@hotmail.com</a>.</p>
        </div>
</body>

<!-- core libraries -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- addon libraries -->
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


<!-- my app -->
<script type="text/javascript" src="/app/app.module.js"></script>
<script type="text/javascript" src="/app/app.filter.js"></script>
<script type="text/javascript" src="/app/time.directive.js"></script>
<script type="text/javascript" src="/app/app.service.js"></script>
<script type="text/javascript" src="/app/app.controller.js"></script>

</html>