<div class="container">
    <form name="ctrl.employeeform" class="form-horizontal form-editEmployee">
        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">First Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.employee.first_name" class="form-control" id="firstName" name="firstName" placeholder="First Name.." required>
                <div class="validation" data-ng-show="ctrl.employeeform.firstName.$touched || ctrl.employeeform.$submitted">
                    <div data-ng-show="ctrl.employeeform.firstName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> First Name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Last Name </label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.employee.last_name" class="form-control" id="lastName" name="lastName" placeholder="Last Name.." required>
                <div class="validation" data-ng-show="ctrl.employeeform.lastName.$touched || ctrl.employeeform.$submitted">
                    <div data-ng-show="ctrl.employeeform.lastName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Last Name is required
                    </div>
                </div>
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="gender">Gender</label>
            <div class="col-sm-6">
                    <br/>
                    <input id="gender" name="gender" ng-model="ctrl.employee.gender" type="radio" value="M" ng-checked="true"/>Male
                    <br/>
                    <input id="gender" name="gender" ng-model="ctrl.employee.gender" type="radio" value="F"/>Female
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="birthDate">Birth Date </label>
            <div class="col-sm-6">
                    <p class="input-group">
                    <input id="birthDate" name="birthDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ctrl.employee.birth_date" ng-pattern="ctrl.datePattern" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                    
                    <div class="validation" data-ng-show="ctrl.employeeform.birthDate.$touched || ctrl.employeeform.$submitted">
                        <div data-ng-show="ctrl.employeeform.birthDate.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Birth Date is required
                        </div>
                        <div data-ng-show="ctrl.employeeform.birthDate.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Birth Date is invalid
                            </div>
                    </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="hireDate">Hire Date</label>
            <div class="col-sm-6">
                    <p class="input-group">
                        <input id="hireDate" name="hireDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="ctrl.employee.hire_date" ng-pattern="ctrl.datePattern" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <div class="validation" data-ng-show="ctrl.employeeform.hireDate.$touched || ctrl.employeeform.$submitted">
                        <div data-ng-show="ctrl.employeeform.hireDate.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Hire Date is required
                        </div>
                        <div data-ng-show="ctrl.employeeform.hireDate.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Hire Date is invalid
                        </div>
                    </div>
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="photourl">Photo URL</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.employee.photourl" class="form-control" id="photourl" name="photourl" placeholder="Photo URL..">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.employeeform.$invalid" ng-click="ctrl.saveEmployee()">Save</button>
            </div>
        </div>
    
    </form>
</div>